/*通用样式*/
html
{
	font-size : 20px;
	height:100%;
	-webkit-text-size-adjust:none;
}
html {
    font-size : 20px;
}
@media only screen and (min-width: 401px){
    html {
        font-size: 25px !important;
    }
}
@media only screen and (min-width: 428px){
    html {
        font-size: 26.75px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 30px !important; 
    }
}
@media only screen and (min-width: 569px){
    html {
        font-size: 35px !important; 
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 40px !important; 
    }
}
body
{
	height:100%;
	max-width:980px;
	min-width:320px;
	margin:0 auto;
	color:#000000;
	padding:0;
	font:normal 0.8em/1.6,Tahoma,Arial,Roboto,sans-serif;
	font-family: HelveticaLTStd-BlkCond !important;
	background-color:#0083D8;
	-webkit-box-sizing:border-box;
}
/*progress进度条页面样式*/
#progress
{
	width: 100%;
	height: 100%;
	background-color: #0083D8;
	position: absolute;
	z-index: 1000;
	font-size: 0;
	/*display: none;*/
}
#pg_box
{
	width: 100%;
	height: 6rem;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#pg
{
	width: 16rem;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#pg>img
{
	position: absolute;
	width: 4.4rem;
	height: 1.8rem;
	top: 0rem;
	left: 0rem;
	display: none;
}
/*music_box样式*/
#music_box
{
	position: absolute;
	top: 1rem;
	right: 0.5rem;
	z-index: 99;
}
#music_box>img
{
	position: relative;
	width: 2rem;
	height: 2rem;
}
/*swiper样式*/
.swiper-container,.swiper-wrapper
{
	width: 100%;
	height: 100%;
}
/*pag1样式*/
#pag1
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#role1_box,#role2_box,#role3_box,#role4_box
{
	position: relative;
	position: absolute;
	font-size: 0;
	width: 8rem;
	height: 11rem;
	font-size: 0;
	/*background-color: #333;*/
	margin: 0.5rem;
}
#role1_box
{
	top: 0;
	left: 0;
}
#role2_box
{
	top: 0;
	right: 0;
}
#role3_box
{
	bottom: 0;
	left: 0;
}
#role4_box
{
	bottom: 0;
	right: 0;
}
/*role样式*/
#role1,#role2,#role3,#role4
{
	/*display: inline-block;*/
	width: 9rem;
	height: 9rem;
	background-size: 1000% auto;
	background-repeat: repeat-x;
	background-position: 100% 0;
	position: absolute;
	bottom: 0;
}
#role1
{
	background-image: url("../assets/role1.png");
}
#role2
{
	background-image: url("../assets/role2.png");
}
#role3
{
	background-image: url("../assets/role3.png");
}
#role4
{
	background-image: url("../assets/role4.png");
}

/*role#Font样式*/
#role1Font,#role2Font,#role3Font,#role4Font
{
	width: 4rem;
	position: absolute;
}
#role1Font
{
	top: -0.4rem;
	right: -0.2rem;
}
#role2Font
{
	top: -0.4rem;
	left: 1.2rem;
}
#role3Font
{
	top: -0.8rem;
	left: 0.5rem;
}
#role4Font
{
	top: -0.6rem;
	right: -0.4rem;
}

/*circle样式*/
#circle_box
{
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 14rem;
	height: 7rem;
}
#circle
{
	background-image: url("../assets/circle.png");
	background-repeat: repeat-x;
	background-size: 1100% auto;
	background-position: 100% 0;
	width: 14rem;
	height: 14rem;
	position: absolute;
	top: -2.5rem;
}

/*font样式*/
#font
{
	width: 75%;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 0;
}

/*pag2样式*/
#pag2
{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.frame
{
	position: absolute;
	z-index: 10;
}


/*viwe_box样式*/
.view_box
{
	position: relative;
	margin: 0.9rem;
	padding: 0.3rem 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	overflow: scroll;
	height: 90%;
	/*background-color: #333;*/
}
::-webkit-scrollbar {
	display: none;
}
.button
{
	width: 22%;
}
.fense
{
	width: 25%;
}
.fense-line
{
	width: 2%;
}
#erase
{
	background-image: url("../assets/erase.png");
	background-repeat: repeat-x;
	background-size: 1500% auto;
	background-position: 100% 0;
	width: 14rem;
	height: 14rem;
	position: relative;
	margin: auto;
	margin-top: -6rem;
	margin-bottom: -5.5rem;
}
#erase>img
{
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 70%;
}
#bottom
{
	width: 100%;
}
.btn_box
{
	width: 40%;
	position: absolute;
	top: 18%;
}
.page2Btn
{
	width: 100%;
	position: relative;
}

/*pag3样式*/
 #pag3_box
 {
 	position: relative;
 	margin: auto;
 	margin-top: 1.5rem;
 	width: 90%;
 	height: 90%;
 	text-align: center;
 	/*background-color: #555;*/
 }
 #finger
 {
 	width: 2rem;
 	position: absolute;
 	left: 0.5rem;
 	bottom: 0;
 }
 #dashedLine
 {
 	height: 10rem;
 	position: absolute;
 	left: 0;
 }

 /*pag4样式*/
 .flexbox-container
 {
 	display: -webkit-box;
 	display: box;
 	margin: 0 0.9rem;
	padding: 0.3rem 0;
	height: 90%;
	-webkit-box-orient: vertical;
	box-orient: vertical;
	font-size: 0;
	text-align: center;
 	/*background-color: #555;*/
 }
 .box1
 {
 	text-align: center;
 	margin-top: 0.9rem;
 }
 .box1>img
 {
 	width: 100%;
 }
 .box2
 {
 	-webkit-box-flex: 1;
 	box-flex: 1;
 	overflow: scroll;
 	text-align: left;
 }
 .box2>div>img
 {
 	width: 50%;
 	z-index: 30;
 }
 .box3
 {
 	width: 100%;
 	height: 3rem;
 	text-align: center;
 }
 .box3>img
 {
 	width: 40%;
 	margin: 0 5%;
 	position: relative;
 	z-index: 99;
 }
 .reverse
 {
 	width: 100%;
 	height: 100%;
 	background-color: #000;
 	opacity: 0.93;
 	position: absolute;
 	top: 0;
 	left: 0;
 	right: 0;
 	bottom: 0;
 	z-index: 9999;
 	text-align: center;
 	vertical-align: middle;
 	font-size: 0;
 	display: none;
 }

.reverse>img
 {
 	width: 14rem;
 	position: absolute;
 	margin: auto;
 	top: -2rem;
 	left: 0;
 	right: 0;
 	bottom: 0;
 	display: none;
 	z-index: 9999;
 }
 #deliverBtn
 {
 	width: 6rem;
 	height: 2.5rem;
 	position: absolute;
 	margin: auto;
 	margin-bottom: 0rem;
 	left: 0;
 	right: 0;
 	bottom: 0%;
 	display: inline;
 }
 #QACircle
 {
 	width: 14rem;
 	height: 14rem;
 	position: absolute;
 	z-index: 999;
 	top: 0;
 	left: 0;
 	right: 0;
 	bottom: 0;
 	margin: auto;
 }


 /*pag6样式*/
 #pag6
 {
 	
 }
 #backBtn
 {
 	width: 3rem;
 	height: 2.5rem;
 	position: absolute;
	top: 2rem;
	left: 2rem;
	z-index: 999;
 }
 #page6Bg
 {
 	width: 100%;
 	position: absolute;
 	margin: auto;
 	top: -25%;
 	left: 0;
 	right: 0;
 	bottom: 0;
 }
 #deliverBtn1
 {
 	width: 55%;
 	position: absolute;
 	margin: auto;
 	/*top: 0;*/
 	left: 0;
 	right: 0;
 	bottom: 1.5rem;
 }
